:root {
  --dark-color-dark: #1e1e20;
  --black-color: #2a2a2b;
  --cloud-color: #f5f5fa;
  --cloud-color-dark: #cecfd1;
  --grey-color: #353941;
  --grey-color-light: #767a80;
  --blue-color: #1e90ff;
  --orange-color: #ffa502;
  --orange-color-light: #ffc14d;
  --content-max-width: 1000px;
  --main-tabs-height: 40px;
  --main-header-height: 60px;
  --secondary-tabs-height: 40px;
  --bottom-nav-height: 60px;
}

/* Auth */
.auth-background {
  min-height: calc(100vh - var(--main-header-height));
  background: var(--black-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-window {
  height: 470px;
  width: 700px;
  box-shadow: 0 0 5px 1px var(--grey-color-light);
  border-radius: 10px;
  display: flex;
  margin: 20px;
  box-sizing: border-box;
}

.auth-icon {
  flex-basis: 1;
  height: 100%;
  width: 100%;
  background: var(--orange-color);
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-form {
  flex-basis: 1;
  height: 100%;
  width: 100%;
  background: var(--dark-color-dark);
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.auth-icon-name {
  font-size: 27px;
  color: white;
  text-align: center;
  margin-top: 15px;
}

.auth-icon-name > h2 {
  margin: 0px;
}

.auth-icon-symbol {
  height: 70px;
}

.auth-login,
.auth-register {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-input-container {
  display: flex;
  flex-direction: column;
  color: var(--cloud-color-dark);
  font-size: 0.9rem;
  margin-bottom: 25px;
  min-width: 220px;
  max-width: 400px;
}

.auth-input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid var(--grey-color-light);
  border-radius: 5px;
  transition: all 0.2s;
  font-size: 0.9rem;
  box-sizing: border-box;
  background: transparent;
  margin-top: 10px;
  color: var(--cloud-color-dark);
}

.auth-input:focus {
  box-shadow: 0 0 0px 1px var(--cloud-color-dark);
}

.auth-switch {
  font-size: 0.9rem;
  color: var(--blue-color);
  cursor: pointer;
}

.auth-switch:hover {
  color: #66aef5;
}

.auth-button {
  border: none;
  background: var(--blue-color);
  border-radius: 3px;
  padding: 5px;
  min-width: 220px;
  max-width: 400px;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all 0.2s;
}

.auth-button:disabled {
  opacity: 0.5;
  cursor: inherit;
}

.auth-button:hover:not([disabled]) {
  background: rgb(64, 180, 248);
}

.auth-divider {
  width: 80%;
  margin: 0px 0px 25px 0px;
  border-bottom: 1px solid var(--cloud-color-dark);
}
